* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
}

header {
  background-image: url("../pics/img.jpg");
  background-size: 100% 100%;
  height: 100vh;
}

h1 {
  color: rgb(230, 28, 105);
  font-size: 55px;
  margin-top: 1%;
}

h2 {
  color: white;
  font-size: 35px;
  margin-top: 1%;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.card-img-top1:hover {
  transform: scale(1.05);
  border: 4px solid white;
}

.form {
  color: white;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  border-radius: 10px;
}

.buton {
  align-items: center;
  border-radius: 15px;
  height: 40px;
  width: 8%;
  border: 1px solid white;
  margin-left: 47.5%;
}

.add {
  color: #ff0068;
  text-align: center;
  margin-bottom: -83px;
}

.footer {
  background-color: #ff0068;
  flex-basis: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6%;
}

.footer span {
  color: #707070;
  font-family: "Segoe UI";
  font-weight: normal;
}

.footer .S1 {
  float: left;
  margin-top: 10px;
  font-size: 21px;
  font-family: "Segoe UI";
  font-weight: normal;
  color: white;
  margin: auto;
}

@media (max-width: 1340px) {
  img {
    width: 350px;
    height: 300px;
  }

  header {
    height: 75vh;
  }
}

@media (max-width: 1100px) {
  img {
    width: 300px;
    height: 250px;
  }

  header {
    height: 70vh;
  }
}

@media (max-width: 940px) {
  img {
    width: 248px;
    height: 200px;
  }

  header {
    height: 55vh;
  }

  form {
    margin-right: 22%;
  }

  .buton {
    width: 37%;
  }
}
